.wrapper{
    margin-left: 40px;
    margin-right: 40px;
    background-color: beige;
}
.top{
    background-color: orangered;
    display: flex;
    flex-direction: row;
    height: 30px;
}
.logo{
    border-color: white;
    color: white;
    border-style: solid;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
}
.symbol{
    position: relative;
    top: -15px;
    margin-left: 4px;
}
.title{
    margin-left: 10px;
    margin-top: 5px;
}
.nav{
    margin-left: 10px;
    margin-top: 7px;
}
.login{
    margin-top: 7px;
    margin-left: 55vw;
}
ol{
    color: grey;
}
.listed-items{
    color: black;
    display: flex;
    flex-direction: row;
}
.user{
    color: grey;
    margin-left: 5px;
}
.timestamp{
    margin-top: -15px;
}
li{
    margin-top: -20px;
}
